body {
   background: gray; 
   margin-left: 200px;
   margin-right: 150px;
   text-align: justify;
}

header{
    margin-top: 50px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 19px;
}

footer{
    margin-bottom: 30px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}

.logo{
    width: 30px;
}

#subirTopo {
    text-decoration: none;
    background: rgba(30,156,161,.9);
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    }
    
    #subirTopo:hover {
    opacity:1;
    }